{% extends "base.html" %}
{% block title %}
  heidy
{% endblock %}
{% block body %}
  <body>
    <header class="header">
      {% import 'header_macro.html' as header_macro %}
      {{ header_macro.header_render('heidy') }}
    </header>
    <div class="main">
      <main>
        <div>
          <a class="{% if folder=="sets" %}active{% endif %}" href="/heidy">sets</a> /
          <a class="{% if folder=="vids" %}active{% endif %}" href="/heidy/vids">vids</a>
        </div>
        <br>
        <div>
          {% for chunk in all %}
            <table class="bf">
              {% for a in chunk %}
                <tr id="{{a.doc_id}}" class="{{a['status']}}">
                  <td>
                    <div class="dropdown">
                      <a class="dropbtn">{{ a.get('set', a['vid']) }}</a>
                      <div class="dropdown-content">
                        <img src="/heidy/imgs/{{folder}}/{{a['file']}}" />
                      </div>
                    </div>
                  </td>
                  <td>
                    <input  type="checkbox" onclick="status(this, '{{a.doc_id}}')" {% if a['status'] %} checked {% endif %}>
                    <a href="javascript:void(0)" onclick="mark1('{{a.doc_id}}', '{{a['status']}}')">&#128153;</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      </main>
    </div>
    <div style="height:500px; width:100%; clear:both;"></div>
    <!-- <footer class="footer">Footer</footer> -->
  </body>
{% endblock %}
{% block script %}
  <script>
  function status(cb, code){
    var tr = document.getElementById(code);
    if (cb.checked){
      axios.put('/heidy/{% if folder == 'vids' %}vids/{% endif %}' + code, 'status=done')
      .then(function (response) {
        tr.classList.add("done");
      })
      .catch(function (error) {
        cb.checked = false
      });
      }else{
        axios.put('/heidy/{% if folder == 'vids' %}vids/{% endif %}' + code, 'status=')
        .then(function (response) {
          tr.classList.remove("done");
        })
        .catch(function (error) {
          cb.checked = true
      });
    }
  }
  </script>
{% endblock %}